    <div id="Footer">
      <footer class="w3-center w3-black w3-padding-48 w3-xxlarge">
        <h1>ATN SHOP INFORMATION and FAQ</h1>
        <a>Author: Nguyen Tien Thanh<br>
        <a href="" >fb.com\tienthanh.ne</a></a>
    </footer>
    </div>
