<head>
    <meta charset="utf-8">
    <title>{{title}} - {{subpage}}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
</head>

<style>
    #searchbtn {
          border-radius:10px;
          -webkit-border-radius:10px;
          box-shadow:0 1px 2px #06bd0f;
          background-color: #06bd0f;
          padding: 4px;
        }

        #searchbtn:hover {
          background-color: #45a049;
        }
        /*-----------------------------------HOME---------------------------------*/
        body,html {
          height: 100%
        }

        body,h1,h2,h3, h4,h5,h6 {
          font-family: "Amatic SC", sans-serif
        }
        .bgimg {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("banner.jpg");
        min-height: 98%;
        font-size: larger;
        }

      /*-----------------------------------NEXT---------------------------------*/
      #Footer div{
        background-color:none;
      }
      html {
        scroll-behavior: smooth;
      }

       * {box-sizing: border-box}

/*SIGN IN FORM*/
        /* Full-width inputs */
            #se,sp input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
            }

            /* Set a style for all buttons */
            button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            }

            /* Add a hover effect for buttons */
            button:hover {
            opacity: 0.8;
            }

            /* Extra style for the cancel button (red) */
            .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
            }

            /* Center the avatar image inside this container */
            .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
            }

            /* Add padding to containers */
            .container {
            padding: 16px;
            }

            /* The "Forgot password" text */
            span.psw {
            float: right;
            padding-top: 16px;
            }

            /* Change styles for span and cancel button on extra small screens */
            @media screen and (max-width: 300px) {
            span.psw {
            display: block;
            float: none;
            }
            }
            label, p{
              color:black;
            }

        /*--------------------------PRODUCT FORM----------------------------------*/
       H2{
        font-size:40px;
        font:bold;
        }
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            width: 169px;
            max-height: 500px;
            text-align: center;
            font-family: arial;
            margin-top: 20px;
            margin-right: 10px;
            }

        .price {
            color: grey;
            font-size: 30px;
            }

        .card button {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
            }

        .card button:hover {
            opacity: 0.7;
            } 

        /*--------------------------PAYMENT FORM----------------------------------*/
        .row {
          display: -ms-flexbox; /* IE10 */
          display: flex;
          -ms-flex-wrap: wrap; /* IE10 */
          flex-wrap: wrap;
          margin: 0 -16px;
        }

        .col-25 {
          -ms-flex: 25%; /* IE10 */
          flex: 25%;
        }

        .col-50 {
          -ms-flex: 50%; /* IE10 */
          flex: 50%;
        }

        .col-75 {
          -ms-flex: 75%; /* IE10 */
          flex: 75%;
        }

        .col-25,
        .col-50,
        .col-75 {
          padding: 0 16px;
        }

        .container {
          background-color: #f2f2f2;
          padding: 5px 20px 15px 20px;
          border: 1px solid lightgrey;
          border-radius: 3px;
        }

        input[type=text] {
          width: 100%;
          margin-bottom: 20px;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 3px;
        }

        label {
          margin-bottom: 10px;
          display: block;
        }

        .icon-container {
          margin-bottom: 20px;
          padding: 7px 0;
          font-size: 30px;
        }


        .btn {
          background-color: #04AA6D;
          color: white;
          padding: 12px;
          margin: 10px 0;
          border: none;
          width: 100%;
          border-radius: 3px;
          cursor: pointer;
          font-size: 30px;
        }

        .btn:hover {
          background-color: #45a049;
        }

        span.price {
          float: right;
          color: grey;
        }

        /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
        @media (max-width: 800px) {
          .row {
            flex-direction: column-reverse;
          }
          .col-25 {
            margin-bottom: 20px;
          }
        }
</style>