<header>
  <div class="w3-top w3-hide-small">
        <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
            <b><a href="/" class="w3-bar-item w3-button">ATN SHOP</a>
            <a href="/product" class="w3-bar-item w3-button">PRODUCTS</a>
            <a href="/order" class="w3-bar-item w3-button">ORDER</a>
            <a href="/payment" class="w3-bar-item w3-button">PAYMENT</a>
            <a href="/report" class="w3-bar-item w3-button">REPORT</a>
            <a href="/profile" class="w3-bar-item w3-button">PROFILE</a>
            <a href="/login" class="w3-bar-item w3-button">LOGIN</a>
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a></b>
        </div>
    </div>
</header>
